@import "tailwindcss";

@layer components {
  .navbar {
    //@apply bg-gray-950 text-white w-screen px-2 py-2 flex flex-col items-center text-center gap-3 md:flex-row md:items-center md:justify-between;
    @apply text-white bg-black w-screen px-4 py-4 flex flex-col items-center text-center gap-3 md:flex-row md:items-center md:justify-between md:py-8;
  }
  .navbar-link {
    @apply text-lg px-4 rounded-md hover:bg-gray-700 transition;
  }
}
